header
    .container
        .row
            .col-md-3
                img(src="img/profile_250x250.jpg").profile-pic
            .col-md-1
            .col-md-8
                h1 
                    | Howdy! I'm David, a enthusiastic communication networks engineer. Making the world more secure with 
                    a(href="http://liftsecurity.io/") @liftsecurity. 
                    | Proud yeti 
                    a(href="http://andyet.com/") @andyet. 
                    | Made 
                    a(href="http://lxjs.org/" ) @lxjs 
                    | and 
                    a(href="http://startupscholarship.org/") @startupscholars
                    | .