header
    .container
        .row
            .col-md-3
                img(src="img/profile_250x250.jpg").profile-pic
            .col-md-1
            .col-md-8
                h1 
                    | Howdy! I'm David, a Peer-to-Peer Software Engineer, upgrading the Web at 
                    a(href="http://ipn.io") Protocol Labs. 
                    | Building 
                    a(href="http://ipfs.io") @IPFS. 
                    | Made 
                    a(href="http://lxjs.org/" ) @lxjs 
                    | and 
                    a(href="http://startupscholarship.org/") @startupscholars
                    | .
