extends layout

block content
    .container.main
        .row    
            .col-md-7.main-bar 
                section(id="aboutme")
                    a(href="#aboutme"): h1 about me
                    p 
                        | I consider myself to be one from many™ lucky bastards™ that found their opportunity to work with the most hard working and passionate people in humbling and encouraging endeavour such as 
                        a(href="http://lxjs.org") LXJS, the Lisbon Javascript Conference 
                        | and 
                        a(href="http://startupscholarship.org") Startup Scholarship 
                        | the first startup internship summer program in Portugal with a summer school and immersion program. I've a MSc in Engineering with major in Peer-to-Peer Networks from 
                        a(href="http://tecnico.ulisboa.pt/en/") Technical University of Lisbon
                        | . 
                    
                section(id="latest")
                    a(href="//blog.daviddias.me"): h1 latest on my blog
                    .well.well-sm
                        a(href="http://blog.daviddias.me/2015/03/22/enter-webrtc-explorer") Mar 22 2014 | webrtc-explorer - Resource Discovery for decentralized browser networks
                    .well.well-sm
                        a(href="http://blog.daviddias.me/2014/12/20/webrtc-ring") Dec 20 2014 | Resource discovery through WebRTC - webrtc-ring
                    .well.well-sm
                        a(href="http://blog.daviddias.me/2014/07/20/TriConf-2014") Jul 20 2014 | TriConfidents
                    .well.well-sm
                        a(href="http://blog.daviddias.me/2014/02/01/get-your-feet-wet-with-docker") Feb 01 2014 | Get your feet wet with docker 
                
                section(id="endeavours")
                    a(href="#endeavours"): h1 endeavours
                    ul 
                        li(id="lxjs") LXJS - Lisbon Javascript Conference
                        li(id="startupscholarship") Startup Scholarship
                        li(id="deltaapp") DeltaAPP
                        li(id="devfest") Google DevFest Portugal
                        li(id="nodecopter") NodeCopter Lisbon
                        li(id="requirelx") require('lx')
                        li(id="nodeschool") nodeschool Lisbon
                        li(id="docker-lisbon") docker-lisbon
                        li(id="meteor-lisbon") meteor-lisbon
                        li(id="gdg-lisbon") gdg-lisbon
                        li(id="node-my-ride") Node My Ride
                        li(id="node=security-project") Node Security Project

                section(id="experience")
                    a(href="#experience"): h1 experience
                    ul 
                        li 2012 | Entertainer and Supervisor at Children/Teenager Summer Camp
                        li 2013 | Node Firm Summer Intern
                        li 2013 - 2014 | Node Firm Node.js Engineer
                        li 2014 - 2015 | &yet ^Lift Node.js Engineer and client enthusiast
                        li 2013 - 2015 | INESC-ID Lisbon Researcher
                        li 2015 - present | Protocol Labs Peer-to-Peer Software Engineer

                section(id="education")
                    a(href="#education"): h1 education
                    h4 degree
                    ul 
                        li BSc in Communication Networks
                        li MSc with Major in Peer-to-Peer Networks
                    //- h6 master thesis q
                    h4 fun academic projects
                    ul 
                        li: a(href="https://github.com/diasdavid/webrtc-explorer") First browser WebRTC based DHT (Distributed Hash Table)
                        li: a(href="https://github.com/diasdavid/METI-EADW") Natural Language Processing for Sentiment Analysis on Politics news (understand the opion of the population)
                        li: a(href="https://github.com/diasdavid/METI-PADI") PADIFS - Distributed File System built on C#
                        li: a(href="https://github.com/diasdavid/MERC-CC") Hadoop Map Reduce based Weather Data Processing 
                        li: a(href="https://github.com/diasdavid/METI-AIAC") Smart Card data encryption and digital signatures for email based transport
                        li: a(href="http://www.slideshare.net/ArturBalanuta/the-godfather-16735322") Godfather - P2P based botnet using Pastry routing algorithm and Planet Lab decentralized network

                    h4(id="scholarships") research scholarships
                    ul
                        li 2011 | IST Math Department Researcher for Ops Infrastructure.
                        li 2012 | IST Researcher - Develop Productivity Courses for High School professors
                        li 2014 | INESC-ID + FCT European Project, Synergy

                    h4(id="certifications") certifications
                    ul
                        li 2010 | Android 101 - GPS and Maps API by Opensoft Soluções Informáticas, Lda
                        li 2010 | IEEE Teacher In-Service Program (TISP) by IEEE EAB
                        li 2010 | Advanced Linux by NPGFC-IST
                        li 2012 | Animator and Field Monitor for Teenager Vacation Camps by Run&Slide 
                        li 2014 | PADI Open Water Scuba Diver by Haliotis

                section(id="talks")
                    a(href="#talks"): h1 publications and talks
                    ul
                        li 
                            | Jun 2015 | 
                            a(href="http://www.slideshare.net/DavidDias11/understanding-the-community-lifecycle") MediterraneaJS - Understanding the lifecycle of a community
                        li 
                            | May 2015 | 
                            a(href="http://www.slideshare.net/DavidDias11/p2p-resource-discovery-for-the-browser") Data Terra Nemo, the P2P Conf - webrtc-explorer, distributed browser computing platform using volunteered shared resources
                        li 
                            | Feb 2015 | 
                            a(href="https://www.youtube.com/watch?v=fNQGGGE__zI") OpoJS - Resource Discovery for the Web Platform on top of a P2P Overlay Network powered by WebRTC
                        li 
                            | Jul 2014 | 
                            a(href="http://slideshare.net/DavidDias11/triconf-2014-lxjs-the-lisbon-javascript-conference") TriConf - Why, when and how LXJS Started - Empowering communities through open source 
                        li 
                            | Apr 2014 | 
                            a(href="http://slideshare.net/DavidDias11/js-conf-br-securing-nodejs-app-by-the-community-and-for-the-community") JSConf Brazil - Securing Node.js Applications by the community and for the community

                section(id="service")
                    a(href="#service"): h1 service
                    h4(id="ieee") IEEE 
                    ul 
                        li 2012 - 2013 | IEEE-IST Chairperson
                        li 2012 - 2013 | IEEE Portugal Section WebMaster
                        li 2012 - 2013 | IEEE Computer Society Student Ambassador for Region 8 (EMEA)
                        li 2013 | IEEE Region 8 (EMEA) Electronic Communications Coordinator
                        li 2013 | IEEE Region 8 (EMEA) madC (Mobile Application Development Competition) Advisor and Judge
                        li 2013 - 2014 | Computer Society Membership Development Coordinator for Region 8 (EMEA)
                    
                    h4(id="google") Google
                    ul 
                        li 2012 - 2013 | Google Student Ambassador for Europe
                        li 2013 | Google DevFest Lisbon Main Organizer

                section(id="awards")
                    a(href="#awards"): h1 awards
                    ul 
                        li Aug 2012 | Winner of Richard E. Merwin Award by IEEE Computer Society
                        li Jul 2012 | 1st Place IEEE Region 8 (EMEA) Website Contest
                        li Dec 2012 | 3rd Place IEEE Global Website Contest
                        li Dec 2011 | 1st Place at Microsoft Windows Phone App Code Camp, Palmela, Portugal
                        li Dec 2011 | 2nd Place with a honorable award at Google Case Competition on BET24H Entrepreneurial Competiton

                section(id="hobbies")
                    a(href="#hobbies"): h1 hobbies 
                    ul
                        li Capoeira
                        li Scuba Diving
                        li Krav Maga
                        li Surf
                        li Skimboard
                        li Music
