<div ng-include="'views/partials/header.html'"></div>

<section>
    <!-- Welcoming Message -->
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">    
         <h1 align="center"> You found me !</h1>
         <p><span>OHAI!</span> Glad you did!<i class="foundicon-heart"></i> I'm <a href="https://twitter.com/daviddias">David!</a> And <a href="mailto:daviddias.p@gmail.com">you</a>? It's a pleasure to know you.   </p>
         <p>I'm <span>one from many lucky bastards</span> that has the opportunity to work with the most interesting, hard working and passionate people in <span>humbling and encouraging</span> experiences such as <a href="http://lxjs.org">LXJS</a>, the Lisbon Javascript Conference and <a href="http://startupscholarship.org/">Startup Scholarship</a> the first startup internship summer program in Portugal with an integrated summer school and immersion program. Currently I'm also finishing my master degree at <a href="http://www.ist.utl.pt/en/">IST-UTL, Portugal,</a> majoring on Cloud Computing, P2P networks and Mobile Applications.</p> 
         <p>Feel free to get in <a href="mailto:daviddias.p@gmail.com">touch</a>, I'm always eager to meet amazing people and make awesome stuff.</p>
         <hr />     
      </div>

      <div class="col-md-3">
      </div>
    </div>    

            


    <!-- Loud &and; Proud -->
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <h2 align="center">Loud &amp; Proud</h2>
        <p>Here are some of the projects &amp; organizations I'm proud of having the opportunity to take part and that make me happy</p>  
        <div class="row">
          <!-- Thumbnails -->
          <div class="col-md-4">
            <a href="http://thenodefirm.com/"><img src="/img/tnf.png" /></a>
            &nbsp;
          </div>

          <div class="col-md-4">
            <a href="http://lxjs.org"><img src="/img/lxjs.png" /></a>
            &nbsp;  
          </div>

          <div class="col-md-4">
            <a href="http://startupscholarship.org/"><img src="/img/tss.png" /></a>
            &nbsp;  
          </div>

        </div>    
        <div class="row"> 
          <div class="col-md-4">
            <a href="http://www.ist.utl.pt/"><img src="/img/ist.png" /></a>
            &nbsp;  
          </div>
            
          <div class="col-md-4">
            <a href="http://www.ieee.org/"><img src="/img/ieee.png" /></a>
            &nbsp;  
          </div>
            
          <div class="col-md-4">
            <a href="http://www.computer.org/"><img src="/img/cs.png" /></a>
            &nbsp;  
          </div>   
        </div>    
        <div class="row"> 
          <div class="col-md-4">
            <a href="http://kairossociety.pt/"><img src="/img/kairos.png" /></a>
            &nbsp;  
          </div>
          
          <div class="col-md-4">

          </div>

          <div class="col-md-4">
            <a href="https://docs.google.com/file/d/0BxpOFqyO4fUYWnRvLWhYd1U5eDg/"><img src="/img/gsa.png" /></a>
            &nbsp;  
          </div>
            
        </div>   
      </div>  
      <div class="col-md-3">
      </div>  
    </div>
</section>

<div ng-include="'views/partials/footer.html'"></div>
