<div ng-include="'views/partials/header.html'"></div>

<section>
    <!-- Loud &and; Proud -->
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <h2 align="center">Loud &amp; Proud</h2>
        <p>Here are some of the projects &amp; organizations I'm proud of having the opportunity to have taken part of, and that make me happy.</p>  
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="thing in things">
            <a href="{{ thing.url }}"> <img src="{{ thing.imageurl }}" /></a>
            &nbsp;
          </div>
        </div>    
      </div>  
      <div class="col-md-1">
      </div>  
    </div>
</section>

<div ng-include="'views/partials/footer.html'"></div>
