doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='David Dias')

    title!= title

    link(rel='icon',        type='image/png', href='img/favicon.ico')
    link(rel='stylesheet', href='/bootstrap-3.3.1/css/bootstrap.min.css')
    //- link(rel='stylesheet',  type='text/css',  href='http://fonts.googleapis.com/css?family=Asap')
    link(rel='stylesheet', href='/css/page.min.css')
  

  body

    include includes/header

    block content

    include includes/footer


  script(src='/js/_analytics.js')
  script(src='/bootstrap-3.3.1/js/bootstrap.min.js')
