@import url('https://fonts.googleapis.com/css?family=Asap');

body {
  background-color: #fffefb;
}

header {
  font-family: 'Asap', sans-serif;
  font-weight: 700;
}

section {
  font-family: 'Asap', sans-serif;
  padding-bottom: 25px;
}

section h1 {
  color: #0474ba;
  font-weight: 400;
}

section h2 {
  color: #0474ba;
  font-weight: 300;
  font-size: 30px;

}

section p {
  font-weight: 100;
  line-height: 25px;
  font-size: 14px;
}
