/* base */ 

@import "vendor/bootstrap-3.0.1/bootstrap.scss";
@import "modules/fonts.scss";


h1,h2,h3,h4,h5,h6,p {
  font-family: existencelight;
  font-weight: bold;
}

p {
  a {
    color: green; 
  }  
}

@import "partials/header.scss";
@import "partials/footer.scss";


section {
  h2 {
    font-size: 4em;
  }
  p {
    font-size: 1.4em;
  }
}