  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>My Bunker</h4>
          <p>
            Currently based in Lisbon<br/>
            <br/>
            
          </p>
        </div><!-- /col-lg-4 -->
        
        <div class="col-lg-4">
          <h4>Where you can also find me</h4>
          <p>
            <a href="https://twitter.com/daviddias">Twitter</a><br/>
            <a href="https://github.com/diasdavid">Github</a><br/>
            <a href="http://www.linkedin.com/in/diasdavid">Linkedin</a>
          </p>
        </div>
        
        <div class="col-lg-4">
          <h4>Wanna catch up?</h4>
          <p>Feel free to send me a <a href="mailto:daviddias.p@gmail.com">email</a>, I'm always eager to meet new people and talk about exciting projects!</p>
        </div>
      
      </div>
    </div>
  </div>