
<div id="ww">
  <div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 centered">
      <img src="/img/me.png" alt="Stanley">
      <h1>You found me!</h1>
      <p><span>OHAI!</span> Glad you did!<i class="foundicon-heart"></i> I'm <a href="https://twitter.com/daviddias">David</a>! And <a href="mailto:daviddias.p@gmail.com">you</a>?</p>

      <p>I'm <span>one from many lucky bastards</span> that has the opportunity to work with the most hard working and passionate people in <span>humbling and encouraging</span> experiences such as <a href="http://lxjs.org">LXJS</a>, the Lisbon Javascript Conference and <a href="http://startupscholarship.org/">Startup Scholarship</a> the first startup internship summer program in Portugal with a summer school and immersion program. Currently I'm also finishing my master degree at <a href="http://www.ist.utl.pt/en/">IST-UTL, Portugal,</a> majoring on Cloud Computing, P2P networks and Mobile Applications.</p> 
      <p>Feel free to get in <a href="mailto:daviddias.p@gmail.com">touch</a>, you can find me on <a href="https://twitter.com/daviddias">twitter</a>, <a href="http://www.linkedin.com/in/diasdavid">linkedin</a> and <a href="https://github.com/diasdavid">github</a>. I'm always eager to meet amazing people and make awesome stuff. Ah I also write sometimes on <a href="blog.daviddias.me">ghost.</a></p>
    </div>
  </div> 
  </div> 
</div>
       
