header {
  padding-top: 30px;
  background-color: #0474ba;
  border-color: #FFFFFF;
}
header .profile-pic {
  border: 5px;
  border-style: solid;
  border-color: #ffffff;
}

header h1 {
  color: #fffefb;
}

header a {
  color: #82BDF0;
}
