{{ define "main" }}

<div id="home-jumbotron" class="jumbotron text-center">
  <!--
  <h1>{{ .Site.Title }}</h1>
  <p class="font-125">{{ .Site.Params.homeText | markdownify }}</p>
  -->

  <img style="border-radius: 50%; width: 200px" src="{{ "img/me-square.jpg" | relURL }}"></img>
  <h1>David Dias</h1>
  <br />
  <h4>P2P Software Engineer & Researcher @ <a href="https://protocol.ai">Protocol Labs</a></h3>
  <h5>M.Sc in Networks Engineering, Lecturer at <a href="http://tecnico.ulisboa.pt">Técnico Lisboa</a></h4>
  <br />
  <br />
  <a href="https://github.com/daviddias/"><i data-feather="github"></i></a>
  <a href="https://twitter.com/daviddias"><i data-feather="twitter"></i></a>
  <a href="https://www.linkedin.com/in/diasdavid/"><i data-feather="linkedin"></i></a>
  <a href="http://500px.com/ineffable"><i data-feather="aperture"></i></a>
  <a href="mailto:mail@daviddias.me"><i data-feather="mail"></i></a>
  <a href="{{ "/index.xml" | relURL }}"><i data-feather="rss"></i></a>
</div>

{{ end }}
