{{ define "main" }}

<div id="home-jumbotron" class="jumbotron text-center">
  <!--
  <h1>{{ .Site.Title }}</h1>
  <p class="font-125">{{ .Site.Params.homeText | markdownify }}</p>
  -->

  <img style="border-radius: 50%; width: 200px" src="{{ "img/me-square.jpg" | relURL }}"></img>
  <h1>David Dias</h1>
  <br />
  <h4>Protocol Researcher & Engineer <a href="https://protocol.ai">Protocol Labs</a></h3>
  <h6>M.Sc in Peer-2-Peer, Distributed Systems and Mobile Networks</h6>
  <h6>B.Sc in Networks Engineering</h6>
  <br />
  <a href="https://github.com/daviddias/"><i data-feather="github"></i></a>
  <a href="https://scholar.google.com/citations?user=L0Ybwt4AAAAJ"><i data-feather="file-text"></i></a>
  <a href="https://twitter.com/daviddias"><i data-feather="twitter"></i></a>
  <a href="https://meta.stackoverflow.com/users/520516/david-dias"><i data-feather="layers"></i></a>
  <!--<a href="https://www.linkedin.com/in/diasdavid/"><i data-feather="linkedin"></i></a>-->
  <!--<a href="http://500px.com/ineffable"><i data-feather="aperture"></i></a>-->
  <a href="mailto:mail@daviddias.me"><i data-feather="mail"></i></a>
  <a href="{{ "/index.xml" | relURL }}"><i data-feather="rss"></i></a>
</div>

<div class="text-center">
  <h3>Highlighted Talks</h3>
</div>
<div class="row">
  <div class="col-sm">
    <iframe width="235" height="140" src="https://www.youtube.com/embed/CRe_oDtfRLw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="col-sm">
    <iframe width="235" height="140" src="https://www.youtube.com/embed/WK4PIGr3RB8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="col-sm">
    <iframe width="235" height="140" src="https://www.youtube.com/embed/HxueJbeMVG4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<div class="text-center">
  <p> See others at <a href="{{ "/publications-and-talks" | relURL }}">Publications & Talks</a><p>
</div>

{{ end }}
