<footer>
  <div class="row">  
    <div class="col-md-2"> 
    </div>
    <div class="col-md-8">
      <hr />     
      <h5 align="center">Here are some other places where you can find me</h5>
    </div>

    <div class="col-md-2"> 
    </div>

  </div>    
    
  <div class="row">
    <div class="col-md-3"> 
    </div>
      <div class="col-md-2">
        <a href="https://twitter.com/daviddias"><h1 class="social" align="center"><i class="foundicon-twitter"></i></h1></a>
      </div>
      <div class="col-md-2">
        <a href="https://github.com/diasdavid"><h1 class="social" align="center"><i class="foundicon-github"></i></h1></a>
      </div>
      <div class="col-md-2">
        <a href="http://www.linkedin.com/in/diasdavid"><h1 class="social" align="center"><i class="foundicon-linkedin"></i></h1></a>
      </div> 
    <div class="col-md-3"> 
    </div>
  </div>     
</footer>