<footer>
  <div class="row">  
    <div class="col-md-1"> 
    </div>
    <div class="col-md-10">     
      <h5 align="center">Here are some other places where you can find me</h5>
    </div>

    <div class="col-md-1"> 
    </div>

  </div>    
    
  <div class="row">
    <div class="col-md-2"> 
    </div>
    
    <div class="col-md-2">
      <a href="https://twitter.com/daviddias">twitter</a>
    </div>
    
    <div class="col-md-2">
      <a href="https://github.com/diasdavid">github</a>
    </div>
    
    <div class="col-md-2">
      <a href="http://www.linkedin.com/in/diasdavid">linkedin</a>
    </div> 
    
    <div class="col-md-2">
      <a href="blog.daviddias.me">ghost</a>
    </div> 
    
    <div class="col-md-2"> 
    </div>
  </div>     
</footer>