@import url(http://fonts.googleapis.com/css?family=Asap);

body {
  background-color: #fffefb;
  font-family: 'Asap', sans-serif;
}

@import "partials/header.scss";

.main {
  padding-top: 30px;
}

.main {

  section {
    padding-bottom: 25px;
    font-weight: 700;

    .btn {
      margin: 2px;
      
      a {
        color: #fffefb;
      }        
    }


    h1 {
      color: #0474ba;
      font-weight: 300;
    }

    h2 {
      color: #0474ba;
    }

    p {
      line-height: 25px;
      font-size: 14px;
    }

  }


}
